@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out;
}


.sidebar-item {
  @apply flex items-center gap-2 px-4 py-2 rounded-md cursor-pointer
         hover:bg-blue-50 hover:text-blue-600 transition;
}
